<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>BFPWEBSTS0303v03JSP_j_security_check</display-name>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

<!-- 
	1.0 FORM login personalizado
 -->  
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>Autenticación del Formulario JSP</realm-name>
    <form-login-config>
      <form-login-page>/jsp0201v01LoginFORM_j_security_checkJSP.jsp</form-login-page>
      <form-error-page>/jsp0202v01ErrorFORM_j_security_checkJSP.jsp</form-error-page>
    </form-login-config>
  </login-config>

<!-- 
	2.0 FORM login personalizado
 -->  
  <security-role>
    <description>Rol de seguridad que asignado a j_security_check</description>
    <role-name>usuarioJSP</role-name>
  </security-role>

<!-- 
	3.0 Seguridad de restricción
 -->  
  
  <security-constraint>
    <display-name>Restricción JSP asignado a j_security_check</display-name>
    <web-resource-collection>
      <web-resource-name>Seguridad o Area Protegida para JSP</web-resource-name>
      <url-pattern>/portal/*</url-pattern>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <description>Sólo administradores de seguridad</description>
      <role-name>usuarioJSP</role-name>
    </auth-constraint>

<!--  
    <user-data-constraint>
      <transport-guarantee>INTEGRAL</transport-guarantee>
    </user-data-constraint>
-->
  </security-constraint>
  
  <session-config>
  	<session-timeout>30</session-timeout>
  </session-config>
  
</web-app>