<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd">

	<!-- 1.0
		Bean dataSource, algo necesario siempre que queramos conectarnos a una base de datos. 
	 -->
	<bean	id="dataSource"
			class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value = "com.ibm.as400.access.AS400JDBCDriver"></property>
		<property name="url" value = "jdbc:as400://LAMBDA"></property>
		<property name="username" value = "BFPALEDIA"></property>
		<property name="password" value = "vasquez7"></property>
	</bean>

	<!-- 2.0
		El jdbcTemplate de clase JdbcTemplate con un constructor al que pasamos el dataSource. 
	 -->
	<bean	id="jdbcTemplate"
			class="org.springframework.jdbc.core.JdbcTemplate">
		<constructor-arg ref="dataSource"></constructor-arg>
	</bean>

	<!-- 3.0
		El clienteCD es nuestra clase para comunicar la aplicación con la base de datos.  
	--> 
	<bean	id="clienteCD"
			class="tata.bfp.modelo.as400.CDClienteSimpleJdbcTemplate">
			<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>
</beans>
