<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<!-- 
		1. En beans se ha asignado los namespaces necesarios como  (beans, context y mvc) 
	 -->

	<!-- 
		2. Activamos la detección automática de componentes a través del uso de anotaciones
	 -->

	<!-- 2.1 Scans the classpath of this application for @Components to deploy as beans -->

	<!-- 2.2. Si queremos usar controladores con anotaciones, en este fichero springMVC-servlet.xml debemos indicar dónde están las clases 
			  que hace de controlador y que llevan las anotaciones correspondientes. 
	 -->	
	<!-- 2.3  Hay que fijarse que en la parte de xsi:schemaLocation de <beans> hemos añadido dos líneas para (a) context y (b) spring-context-2.5.xsd 
			  (aparte de las dos "estándar" de beans y spring-beans). Esto nos permite usar el tag <context:component-scan> en donde se indica el 
			  paquete java a partir del cual buscar clases con anotación de controladores.
	 -->

	<!-- 
	<context:component-scan base-package="tata.bfp.controladora"/>
 	-->
    <!-- 2.2 Configures the @Controller programming model -->
	<!-- <mvc:annotation-driven/>  -->

	<!-- 
   <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	  <property name="prefix" value="/WEB-INF/"/>
	  <property name="suffix" value=".jsp"/> 
   </bean>
 	-->
 	<bean id="idCCDispatcher" name = "/hello.htm" class="pe.tata.bfp.controladora.CCControladorDispatcher"></bean>

</beans>
