<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>BFPWEBSTS0303v04Servlet_j_security_check</display-name>

<!-- 
	1.0 FORM login personalizado
 -->  
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>Personalizado JSP</realm-name>
    <form-login-config>
      <form-login-page>/jsp0201v01LoginFORM_j_security_checkJSP.jsp</form-login-page>
      <form-error-page>/jsp0202v01ErrorFORM_j_security_checkJSP.jsp</form-error-page>
    </form-login-config>
  </login-config>

<!-- 
	2.0 Rol personalizado
 -->  
  <security-role>
    <description>Rol de seguridad que asignado a j_security_check</description>
    <role-name>usuarioJSP</role-name>
  </security-role>

<!-- 
	3.0 Seguridad de restricción
 -->  
  
  <security-constraint>
    <display-name>Restricción JSP asignado a j_security_check</display-name>
    
    <web-resource-collection>
      <web-resource-name>Seguridad JSP</web-resource-name>
      <url-pattern>/portal/*</url-pattern>
      <http-method>POST</http-method>
      <http-method>GETT</http-method>
    </web-resource-collection>
    <auth-constraint>
      <description>Sólo administradores de seguridad</description>
      <role-name>usuarioJSP</role-name>
    </auth-constraint>
    
    <!--
    	NONE : Significa que no es necesario volver a dirigir a SSL cuando intenta golpear el recurso compartido
    	INTEGRAL :
    	CONFIDENTIAL : Provoca una solicitud de un recurso protegido en un puerto no seguro a ser redirigido a un puerto seguro 
     -->
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  
<!-- 
	4.0 Configurando el Servlet
--> 
  <servlet>
  	<servlet-name>seguridadCheckServlet</servlet-name>
  	<servlet-class>pe.tata.bfp.controlador.CCSerguridad_form</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>seguridadCheckServlet</servlet-name>
  	<url-pattern>/controlador</url-pattern>
  </servlet-mapping>
      
</web-app>